.recipe-description h3,
.recipe-steps h3,
.recipe-tips h3{
  font-size:2em;
  font-family:Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif; 
  border-bottom:1px solid;
}

.timestamp {
  border-bottom:1px solid;
}
.recipe-description p{
  font: 1em/1.5 serif;
  font-family:Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif; 
}
span { 
  font-family:"微軟正黑體"; 
}
article#recipe{
  max-width:600px;
  padding:1em;  
  background: url(http://subtlepatterns.com/patterns/food.png);
  font-family:Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif; 
  border-radius:1em;
}

#recipe h1{
  text-shadow: 0px 1px 3px 	coral	;
  border-radius:.1em;
  margin: 0 0 20px;
  cursor: pointer;
  font-family: 'Poiret One',cursive,serif;
  outline: 0;
  border: 0;
  width: 10x;
  padding: 15px 10px 20px 15px;
  background: darkred;
  color: rgba(290, 200, 200, 1);
  font-size: 2em;
  -webkit-box-shadow: inset 0 -1px 10px 0 rgba(0,0,0,.1);
  box-shadow: inset 0 -1px 10px 0 rgba(0,0,0,.1);
  -webkit-transition: background 150ms ease-in-out;
  -moz-transition: background 150ms ease-in-out;
  -ms-transition: background 150ms ease-in-out;
  -o-transition: background 150ms ease-in-out;
  transition: background 150ms ease-in-out;
  outline: 3px dashed #DB571F;
  outline-offset: 2.6px;

}

#recipe img{
  width:100%;
  padding:1em;
  background-color:#ffffff;
  box-sizing:border-box;
}

.btn btn-default btn-sm{
  text-align: center; padding: 10px; background: #555;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: .5s;
  opacity: .7;
  
}
.btn btn-default btn-sm:hover{
  opacity: 1;
}

.meta{
  margin-top:1em;
}

.meta span{
  margin-right:2em;
}

.ingredients{
  list-style-type:none;
}

.ingredients>li{
  padding:3px 10px;
}

.ingredients>li:nth-child(odd){
  background-color:rgba(255,255,255,0.5);
}

.ingredient-name{
  display:inline-block;
  width:200px;
  
}
.ingredient-unit{
  color: rgba(200, 5, 0 ,1);
  text-shadow: 0px .1px .5px 	coral	;
}

.simple-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
     
    margin: 0;
    margin-left: 3em;
    padding: 0;
     
    counter-reset: li-counter;
}
.simple-list > li{
    position: relative;
    margin-bottom: 10px;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 2px solid #b22222;
}
.simple-list > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;
     
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #a52a2a;
 
    content: counter(li-counter);
    counter-increment: li-counter;
}

/* This code is tested with latest version of Firefox and Chrome */
.box {
  position: relative;
  margin:4em;
  padding:1em;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 2%     0%     0%     0% /     20%     0%     0%     0%;
}
.box:before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0px;
    left: 0px;
    width: 33%;
    height: 25%;
    box-shadow: -10px -10px 15px rgba(0,0,0,0.5);
    -webkit-transform: rotate(7deg) translate(20px,25px) skew(20deg);
     -moz-transform: rotate(7deg) translate(20px,25px) skew(20deg);
     -ms-transform: rotate(7deg) translate(20px,25px) skew(20deg);
     -o-transform: rotate(7deg) translate(20px,25px) skew(20deg);
     transform: rotate(7deg) translate(20px,25px) skew(20deg);
    }

